body {
    background-image: url(../assets/Images/homePageHeader.png);
    background-size: cover;

  }

.h1 {
    font-family: myFont;
  }
  
.h3 {
    text-align: left;
}

ul.topNav-centered {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #d4d4d46b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 70px;
    border-radius: 15px;
}

  
ul.topNav-centered li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    flex: 10%;
}
  
ul.topNav-centered li a:hover:not(.active){
    background-color: #b9b9b986;
}
  
ul.topNav-centered li a.active{
    background-color: #b9b9b986;
}
  
@media screen and (max-width: 600px){
    ul.topNav-centered li.right, 
    ul.topNav-centered li {float: none;}
}
.topNav-centered a{
    position: relative;
    top: 0;
    left: 0;
    transform: none;
}

@font-face {
    font-family: myFont;
    src: url(../assets/Fonts/porter_sans_block/porter-sans-inline-block-webfont.woff);
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
  }
  
  .button1 {
    background-color: #f02d2d; 
    color: white; 
    border: 2px solid #f02d2d;
  }
  
  .button1:hover {
    background-color: #f02d2d;
    color: white;
  }

  .searchBar {
    width: 375px;
    height: 29px;
    background: white;
  }
